@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

@import './vendor.scss';
@import './variables.scss';

html,
body {
  @include font-size(1);

  font-family: $base-font;
  color: $text-main;
  background: $main-background;
}

a {
  color: inherit;
}
