@import '../styles/vendor.scss';
@import '../styles/variables.scss';

.container {
  margin: 16px 24px;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $viewport-12) {
    margin: 64px 360px;
    max-width: $container-size;
    flex-direction: row;
  }
}

.main {
  max-width: 864px;
}
