@import '../styles/vendor.scss';
@import '../styles/variables.scss';

.container {
  margin: 16px 24px;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $viewport-12) {
    margin: 64px 128px;
    width: 100%;
    max-width: $container-size;
    flex-direction: row;
  }
}
