@import '../styles/vendor.scss';
@import '../styles/variables.scss';

.sidebar {
  margin-top: 16px;

  @media (min-width: $viewport-12) {
    margin-top: 0;
    padding: 32px 16px;
    width: 336px;
  }
}

.subtopics {
  list-style-type: none;
  margin: 0 0 8px 0;
  padding-left: 16px;
}

